/*---------------
      RESET 
---------------*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*---------------
     GENERAL
---------------*/
body {
  font-family: "Open Sans", serif;
  min-height: 100vh;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-grow: 1;
}

/*---------------
     HEADER
---------------*/
header {
  background-color: #fff;
  color: #000;
  margin: 1.25rem 0 0.625rem 0;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 2.2rem;
  list-style: none;
  letter-spacing: -0.0625rem;
}

header nav ul a {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

/*---------------
      MAIN
---------------*/
main {
  background-color: #1c1c1c;
  padding: 3.125rem 0.625rem;
}
main h1 {
  color: #fff;
  font-size: 30px;
}
/*---------------
      ICONS
---------------*/
.icons {
  background-color: #0282f9;
  padding: 3.125rem 0;
}

.icons .col {
  width: calc(100% / 5);
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.col img {
  width: 25%;
  height: auto;
}

.icons .col a {
  padding: 0.875rem;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: 500;
}
/*---------------
      FOOTER
---------------*/

footer {
  color: #fff;
}

.footer-top {
  background-image: url("../imgs/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5rem 2.5rem 0 2.5rem;
  overflow: hidden;
}

footer ul {
  list-style: none;
  padding-bottom: 1.15rem;
}

footer a {
  text-decoration: none;
  line-height: 1.5;
  color: inherit;
  font-family: inherit;
  font-size: 0.8125rem;
}

.footer-bottom {
  background-color: #303030;
  z-index: 2;
  margin-top: 0;
}

.left-col .col {
  width: calc(100% / 3);
}

.footer-logo {
  margin-top: -130px;
  position: static;
}

.right-col,
.left-col {
  width: calc(100% / 2);
}

button {
  background-color: transparent;
  padding: 0.875rem 1.125rem;
  border: 0.1875rem solid #0282f9;
  color: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.footer-bottom .row {
  padding: 2.5rem 0 2.5rem 0;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

.follow {
  color: #0282f9;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.11rem;
  word-spacing: 0.125rem;
}

.footer-bottom .right-col {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: flex-end;
}
